* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bouton_gauche {
    transform: rotate(180deg);
}

.slider {
    height: 50vh;
    width: 50vw;
    position: relative;
    margin: auto;
    margin-top: 2%;
    border: solid white 5px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

}

.slider img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    border-radius: 15px;
    transition: opacity .5s;
}

.slider img.active {
    opacity: 1;
}

.suivant,
.precedent {
    color: white;
    font-size: 3rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.suivant {
    right: 1rem;
}

.precedent {
    left: 1rem;
}