/*Séville*/
.seville {
    background-image: url("../images/seville/henrique-ferreira-62QRdDoe44M-unsplash.jpg");
    width: 100%;
    border-radius: 15px;
}
.seville h1 {
    color: var(--light);
    font-size: 3.5rem;
}