/*Fonts:*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

@font-face {
    font-family:'MilkyCoffee';
    src: url(MilkyCoffee/Milky-Coffee.otf);
    src: url(MilkyCoffee/Milky-Coffee.ttf);
  }


  @media screen and (min-width: 400px) {
    body{
        width: 100%;
    }
  }

/*Reset:*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Body:*/
body {
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    background-color: var(--secondary-color);
}

/*CSS properties:*/
:root {
    --primary-color: #ffb994;
    --secondary-color: #ffcc7d;
    --light: #fff;
    --dark: #000;
    --margin-city: 1rem;
}

/*Header:*/
header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    width: 100%;
    position: relative;
    background: var(--light);
    border-bottom: 3px solid var(--primary-color) ;
    border-bottom-left-radius: 50% 51%;
    border-bottom-right-radius: 50% 51%;
    
}

/*Logo:*/
#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
    font-family: 'MilkyCoffee';
    text-shadow: 2px 1px black;
    letter-spacing: 0.5rem;
    font-size: 5rem;
}

a:link, a:hover{
    text-decoration: none;
}

#tunnel {
    width: 80px;
    height: 70px;
    margin-left: 2rem;
    
}

#castle {
    width: 200px;
    height: 190px;
    margin-left: 2rem;
    
}

/*Main content*/
#bloc-page {
    margin: auto;
    width: 800px;
}

main {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

section {
    padding: 1em;
    margin: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 15px 0px;
}


.cta {
    display: flex;
    justify-content: center ;
    align-items: center; 
    border-top: 10px; 
}

.ctaButton{
    border: 3px solid;
    border-radius: 25px;
    font-size: larger;
    padding-left: 10px;
    padding-right: 10px;
    height: 3rem;
    width: ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: salmon;

}

.buttonsubtitle{
    font-size: small;
}

.banniere {
    background: url("/images/rome/banniere.jpg") no-repeat;
    border-radius: 5%;
    height: 500px;
    width: 100%;
    margin-top: 10px;
    position: relative;
}

.city {
    margin: var(--margin-city);
}

/*Image fond h1*/



/* Texte à côté des images */
.article {
    display: flex;
    align-items: center;

}

/*Footer:*/
.hr-footer {
    border-top: 3px solid var(--secondary-color) ;
    border-top-left-radius: 50% 51%;
    border-top-right-radius: 50% 51%;
    color: transparent;
    
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 15vh;
    background: var(--light);
    border-top: 3px solid var(--primary-color) ;
    border-top-left-radius: 50% 51%;
    border-top-right-radius: 50% 51%;
}


footer h2 {

    color: var(--primary-color)
    
}

#suggestion{
    display: flex;
    justify-content: center;
}

.contactform{
    display: flex;
    justify-content: center;
}

.formtitle{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.suggestiontext{
    display: flex;
    justify-content: center;
}

.pikachubottom{
    justify-content: flex-end;
    padding: 20px;

    color: var(--primary-color);
    font-family: 'MilkyCoffee';
    text-shadow: 2px 1px black;
    letter-spacing: 0.05rem;
    font-size: 2rem;

}