/*Fonts:*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

@font-face {
    font-family: "Milky Coffee";
    src: url("./milky_coffee/MilkyCoffee.otf");
    src: url("./milky_coffee/MilkyCoffee.ttf");
    }

/*Reset:*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Body:*/
body {
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}

/*CSS properties:*/
:root {
    --primary-color: #ffb994;
    --secondary-color: #ffcc7d;
    --light: #fff;
    --dark: #000;
    --margin-city: 1rem;
}

/*Header:*/
header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    width: 100%;
    position: relative;
    background: var(--light);
    border-bottom: 3px solid var(--secondary-color);
    border-bottom-left-radius: 50% 51%;
    border-bottom-right-radius: 50% 51%;
    
}

/*Logo:*/
#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
    font-family: 'Milky Coffee';
    text-shadow: 2px 1px black;
    font-size: 1.5em;
}

a:link,
a:hover {
    text-decoration: none;
}

/*Main content*/
#bloc-page {
    margin: auto;
    width: 800px;
}

main {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

section {
    padding: 1em;
    margin: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 15px 0px;
}

.banniere {
    background: url("/images/rome/banniere.jpg") no-repeat;
    border-radius: 5%;
    height: 500px;
    width: 100%;
    margin-top: 10px;
    position: relative;
}

.city {
    margin: var(--margin-city);
}

/*Image fond h1*/



/* Texte à côté des images */
.article {
    display: flex;
    align-items: center;
}

/*Footer:*/
.hr-footer {
    border-top: 3px solid var(--secondary-color) ;
    border-top-left-radius: 50% 51%;
    border-top-right-radius: 50% 51%;
    color: transparent;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
}
footer h2 {
    color: var(--primary-color);
    font-family: 'Milky Coffee';
    letter-spacing: 3px;
    text-shadow: 1.5px 1px black;
}