/*Fonts:*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/*Reset:*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*Body:*/
body {
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}
/*CSS properties:*/
:root {
    --primary-color: #ffb994;
    --secondary-color: #ffcc7d;
    --light: #fff;
    --dark: #000;
}

/*Header:*/
header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    width: 100%;
    position: relative;
    background: var(--light);
    border-bottom: 3px solid var(--secondary-color) ;
    border-bottom-left-radius: 50% 51%;
    border-bottom-right-radius: 50% 51%;
}

/*Logo:*/
#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5em;
}
a:link, a:hover{
    text-decoration: none;
}

/*Main content*/
main {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

section {
    padding: 1em;
    margin: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 15px 0px;
}

/*Footer:*/
.hr-footer {
    border-bottom: 3px solid var(--secondary-color) ;
    color: transparent;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
}
footer h2 {
    color: var(--primary-color)
}